<h1>New stock</h1>

<script type="text/javascript">
function createNewMember() {
var link = '/stocks/add_new_stock?symbol=';
link = link + document.getElementById('stock_symbol').value + '&sname=' ;
link = link + document.getElementById('stock_name').value+ '&hold=';
link = link + document.getElementById('stock_holding').value+'&price=';
link = link + document.getElementById('stock_price').value;
document.location.href = link;
}
</script>
<div class="field">
<label for="stock_symbol">Symbol</label><br />
<input id="stock_symbol" name="stock[symbol]" size="30" type="text" />
</div>
<div class="field">
<label for="stock_name">Name</label><br />
<input id="stock_name" name="stock[name]" size="30" type="text" />
</div>
<div class="field">
<label for="stock_holding">Holding</label><br />
<input id="stock_holding" name="stock[holding]" type="number" />
</div>
<div class="field">
<label for="stock_price">Price</label><br />
<input id="stock_price" name="stock[price]" size="30" type="text" />
</div>

<input type="button" onClick="createNewMember()" value="Create New Member" />


<%= link_to 'Back', stocks_path %>
